numpy==2.2.0
networkx==3.6
scipy==1.16.3
networkit==11.2.1
matplotlib==3.10.7
pandas>=1.1.0
tqdm>=4.54.1
scikit-learn

# ABCDE baseline only
pytorch-lightning
torch-geometric
python-igraph>=0.8.3
gdown
fire
